h5 {color: red;
    font-family: 'Lobster', cursive;}
h1 {font-family: 'Lobster', cursive;}

.a1 {font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}
.a2 {font-family: 'Fjalla One', sans-serif;}